<h1>Whimsy Bathroom Schedule</h1>
<button class="button-outline" phx-click="pee">💦</button>
<button class="button-outline" phx-click="poo">💩</button>
<ul>
  <%= for {type, time} <- @times do %>
    <%
      emoji = if type == :pee, do: "💦", else: "💩"
      exact = Timex.format!(time, "{h12}:{m}{am} {WDshort}")
      relative = Timex.format!(time, "{relative}", :relative)
    %>
    <li><%= "#{emoji} #{exact} (#{relative})" %></li>
  <% end %>
</ul>
